<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.inventory.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>com.inventory.controllers.AddItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/addItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewInventoryServlet</servlet-name>
    <servlet-class>com.inventory.controllers.ViewInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInventoryServlet</servlet-name>
    <url-pattern>/viewInventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.inventory.controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteItemServlet</display-name>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>com.inventory.controllers.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateItemServlet</display-name>
    <servlet-name>UpdateItemServlet</servlet-name>
    <servlet-class>com.inventory.controllers.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItemServlet</servlet-name>
    <url-pattern>/UpdateItemServlet</url-pattern>
  </servlet-mapping>
</web-app>